<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true ">
    <dubbo:application name="oa-oa" />

    <dubbo:registry protocol="zookeeper" address="${zookeeper.url}" file="${user.home}/output/dubbo-oa.cache" />
    <dubbo:protocol name="dubbo" port="20817" />
    
    <!-- <dubbo:annotation package="cn.com.bizunited.cp.oavice" /> -->
    <!-- <dubbo:service interface="cn.com.bizunited.cp.oavice.TestService" ref="testService" /> -->
    
    
    

</beans>