.loading-circle{
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 5px;
    background: url("../image/icon-loading.png") no-repeat center center;
    background-size: 100% 100%;
    -webkit-animation: loading-circle 2s  infinite linear ;
    animation: loading-circle 2s  infinite linear ;
}
@keyframes loading-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loading-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
