<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bizunited.cp.oa.mapper.base.AdminMapper" >
  <resultMap id="BaseResultMap" type="cn.com.bizunited.cp.oa.domain.base.Admin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userpwd" property="userpwd" jdbcType="VARCHAR" />
    <result column="lastloginip" property="lastloginip" jdbcType="VARCHAR" />
    <result column="lastlogintime" property="lastlogintime" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="deptid" property="deptid" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="INTEGER" />
    <result column="accesstoken" property="accesstoken" jdbcType="VARCHAR" />
    <result column="pushFlag" property="pushflag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, userpwd, lastloginip, lastlogintime, createtime, status, deptid, phone, 
    os, accesstoken, pushFlag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TB_ADMIN
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TB_ADMIN
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.bizunited.cp.oa.domain.base.Admin" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TB_ADMIN (username, userpwd, lastloginip, 
      lastlogintime, createtime, status, 
      deptid, phone, os, 
      accesstoken, pushFlag)
    values (#{username,jdbcType=VARCHAR}, #{userpwd,jdbcType=VARCHAR}, #{lastloginip,jdbcType=VARCHAR}, 
      #{lastlogintime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{deptid,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{os,jdbcType=INTEGER}, 
      #{accesstoken,jdbcType=VARCHAR}, #{pushflag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bizunited.cp.oa.domain.base.Admin" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TB_ADMIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="userpwd != null" >
        userpwd,
      </if>
      <if test="lastloginip != null" >
        lastloginip,
      </if>
      <if test="lastlogintime != null" >
        lastlogintime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="deptid != null" >
        deptid,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="accesstoken != null" >
        accesstoken,
      </if>
      <if test="pushflag != null" >
        pushFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="lastloginip != null" >
        #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null" >
        #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="pushflag != null" >
        #{pushflag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bizunited.cp.oa.domain.base.Admin" >
    update TB_ADMIN
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpwd != null" >
        userpwd = #{userpwd,jdbcType=VARCHAR},
      </if>
      <if test="lastloginip != null" >
        lastloginip = #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null" >
        lastlogintime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deptid != null" >
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=INTEGER},
      </if>
      <if test="accesstoken != null" >
        accesstoken = #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="pushflag != null" >
        pushFlag = #{pushflag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bizunited.cp.oa.domain.base.Admin" >
    update TB_ADMIN
    set username = #{username,jdbcType=VARCHAR},
      userpwd = #{userpwd,jdbcType=VARCHAR},
      lastloginip = #{lastloginip,jdbcType=VARCHAR},
      lastlogintime = #{lastlogintime,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      deptid = #{deptid,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      os = #{os,jdbcType=INTEGER},
      accesstoken = #{accesstoken,jdbcType=VARCHAR},
      pushFlag = #{pushflag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>