<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.bizunited.cp.oa.mapper.base.CusGroupMapper">
  <resultMap id="BaseResultMap" type="cn.com.bizunited.cp.oa.domain.base.CusGroup">
    <id column="CUS_GROUP_ID" jdbcType="BIGINT" property="cusGroupId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    CUS_GROUP_ID, NAME, CREATE_TIME, CREATE_BY, USER_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_cus_group
    where CUS_GROUP_ID = #{cusGroupId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_cus_group
    where CUS_GROUP_ID = #{cusGroupId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.bizunited.cp.oa.domain.base.CusGroup">
    <selectKey keyProperty="cusGroupId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_cus_group (NAME, CREATE_TIME, CREATE_BY, 
      USER_ID)
    values (#{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bizunited.cp.oa.domain.base.CusGroup">
    <selectKey keyProperty="cusGroupId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_cus_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bizunited.cp.oa.domain.base.CusGroup">
    update tb_cus_group
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where CUS_GROUP_ID = #{cusGroupId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bizunited.cp.oa.domain.base.CusGroup">
    update tb_cus_group
    set NAME = #{name,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=INTEGER}
    where CUS_GROUP_ID = #{cusGroupId,jdbcType=BIGINT}
  </update>
</mapper>